# These must come first to build pmdarima correctly
numpy==1.23.5
Cython==0.29.36
setuptools>=65.5.1
wheel>=0.38.4

# Now safely install pmdarima
pmdarima==2.0.4

# Then all your regular dependencies
streamlit
pandas
plotly
streamlit-lottie
requests
statsmodels
scikit-learn==1.3.0
xgboost
matplotlib
scipy
